body {
  background-color: rgb(103, 71, 37);
  color: rgb(245, 244, 244);
  font-family: arial;
  margin: 0;
}

div {
  width: 120vw;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.7em;
}

p {
  text-align: center;
  font-size: 1.3em;
}
